$base-size: 16;
$facebook-color: rgba(24,119,242,1);
$twitter-color: rgba(29,161,242,1);

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
);